.hidden {
    display: none;
}

.appBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #4E342E !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    cursor: pointer;
    margin: 0 1pc;
    width: 100%;
    height: auto;
    max-width: 100px;
}

.menuButton img {
    width: 100%;
    height: auto;
    filter: invert(1) brightness(1) grayscale(0%) !important;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 150px;
    filter: invert(1) brightness(1) grayscale(0%) !important;
}

.navLinks {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.navLink {
    display: flex;
    width: 100%;
    max-width: 7pc;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: lighter !important;
    font-size: 20px !important;
}

.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    margin-left: 5pc;
}

.work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    font-weight: bolder !important;
    font-size: 20px !important;
}

@media (max-width: 720px) {
    .appBar {
        position: fixed;
        width: 100%;
        background-color: #4E342E !important;
    }

    .toolbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .menuButton {
        display: block;
        margin: 10px auto;
        max-width: 50px;
    }

    .menuButton img {
        width: 100%;
        height: auto;
    }

    .title {
        max-width: 100px;
        margin: 10px auto;
    }

    .title img {
        width: 100%;
        height: auto;
    }

    .navLinks {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .navLink {
        width: 100%;
        max-width: none;
        justify-content: center;
        font-size: 16px !important;
        margin: 5px 0;
    }

    .login {
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }

    .work {
        max-width: none;
        font-size: 16px !important;
        margin: 10px 0;
    }
}