.appBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #4E342E !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    cursor: pointer;
    margin: 0 1pc;
    max-width: 6pc;
}

.menuButton img {
    width: 100%;
    height: auto;
    filter: invert(1) brightness(0.75) grayscale(100%);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 10pc;
}

.title img {
    width: 100%;
    height: auto;
    filter: invert(1) brightness(0.75) grayscale(100%);
}

.navLinks {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.navLink {
    display: flex;
    width: 100%;
    max-width: 7pc;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: lighter !important;
    font-size: 20px !important;
}

.goDashboard{
    background-color: saddlebrown !important;
}

.dash{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    margin-left: 5pc;
}

.goDashboard:hover{
    box-shadow: #1a1a1a 5px 5px;
}

@media (max-width: 768px) {
    .appBar {
        position: fixed;
        width: 100%;
    }

    .toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menuButton {
        display: block;
        margin: 0 auto;
        max-width: 3pc;
    }

    .menuButton img {
        width: 100%;
        height: auto;
    }

    .title {
        max-width: 6pc;
        margin: 0 auto;
    }

    .title img {
        width: 100%;
        height: auto;
    }

    .navLinks {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .goDashboard {
        width: 100%;
        text-align: center;
    }
}